__pycache__/
/test_simulation.py
/models2/
*.pyc
/s04_d8.dat
/s04_test_genx000.dat
/s04.tab
/test_opti.py
/pf_test.py
/test_pipe_xrr_gui.py
/pipe_xrr_gui_2.py
/s04_test.ps
/qthelp/
/build/
/dist/
/s04_XRF.ps
/s04_XRR.ps
/s04_XSW.ps
/test_xml.py
/testhelp.qch
/test.py
/t2.py
.pylintrc
/pylintrc
/temp/
/medepy.log
/pyxcel.log
